@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400&display=swap");

* {
    font-family: "Comfortaa", sans-serif;
    z-index: 2;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(45deg, #080b0e, #251e27);
    color: #fff;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 80px;
    margin-bottom: 15px;
}

button {
    font-size: 14px;
    background-color: #6c3f77;
    color: #fff;
    border: unset;
    border-radius: 10px;
    cursor: pointer;
    width: 120px;
    height: 40px;
}

#resultContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #161616;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 1px solid #ffffff13;
    margin-top: 15px;
}

textarea {
    width: 170px;
    height: 200px;
    margin-top: 10px;
    resize: none;
    background-color: #161616;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 20px;
    font-size: 12px;
    overflow-y: auto;
    scrollbar-color: #777777 #343a40;
    outline: none;
}

.palka {
    background-color: #1ee9e963;
    width: 1000px;
    height: 8px;
    position: absolute;
    border-radius: 100%;
    z-index: 0;
    transform: rotate(-15deg);
    margin-top: 100px;
    box-shadow: #1ee9e9f5 1px 1px 60px;
}

h2:nth-child(3) {
    margin: 400px 0 0 760px;
}

.copyButton {
    background-color: #777777;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 70px;
    height: 30px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#getButton2:disabled {
    cursor: not-allowed;
}

textarea::-webkit-scrollbar {
    width: 12px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #777777;
    border-radius: 10px;
}

.copied-message {
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 10px 20px;
    background-color: #6c3f77;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    text-align: center;
    line-height: 22px;
}

.facebook {
    color: #1877f2;
}

.google_1 {
    color: #4285f4;
}

.google_2 {
    color: #34a853;
}

.google_3 {
    color: #fbbc05;
}

.section {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffff13;
    height: 30px;
    border-radius: 5px;
}

#getName {
    background-color: #161616;
    color: white;
    border: none;
    outline: none;
    height: 25px;
    border-radius: 0;
    width: 80px;
    font-size: 12px;
    padding-left: 10px;
}
